<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-->**************Servlet*********************<-->
    <servlet>
        <servlet-name>Inicio_session</servlet-name>
        <servlet-class>servelet.Inicio_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar_session</servlet-name>
        <servlet-class>servelet.Cerrar_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>servelet.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>servelet.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCliente</servlet-name>
        <servlet-class>servelet.ModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPresupuesto</servlet-name>
        <servlet-class>servelet.GenerarPresupuesto</servlet-class>
    </servlet>
    <!-->Servlet-Producto<-->
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>servelet.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>servelet.ModificarProducto</servlet-class>
    </servlet>
    <!-->Servlet-Via<-->
    <servlet>
        <servlet-name>RegistrarVia</servlet-name>
        <servlet-class>servelet.RegistrarVia</servlet-class>
    </servlet>
    <!-->Servlet-Operador<-->
    <servlet>
        <servlet-name>RegistrarOperador</servlet-name>
        <servlet-class>servelet.RegistrarOperador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarOperador</servlet-name>
        <servlet-class>servelet.ModificarOperador</servlet-class>
    </servlet>
    <!-->Servlet-Marca<-->
    <servlet>
        <servlet-name>RegistrarMarca</servlet-name>
        <servlet-class>servelet.RegistrarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMarca</servlet-name>
        <servlet-class>servelet.ModificarMarca</servlet-class>
    </servlet>
    <!-->Servlet-EstadoPedido<-->
    <servlet>
        <servlet-name>RegistrarEstadoPedido</servlet-name>
        <servlet-class>servelet.RegistrarEstadoPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEstadoPedido</servlet-name>
        <servlet-class>servelet.ModificarEstadoPedido</servlet-class>
    </servlet>
    <!-->Servlet-TipoPersona<-->
    <servlet>
        <servlet-name>RegistrarTipoPersona</servlet-name>
        <servlet-class>servelet.RegistrarTipoPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoPersona</servlet-name>
        <servlet-class>servelet.ModificarTipoPersona</servlet-class>
    </servlet>
    <!-->Servlet-TipoProducto<-->
    <servlet>
        <servlet-name>RegistrarTipoProducto</servlet-name>
        <servlet-class>servelet.RegistrarTipoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoProducto</servlet-name>
        <servlet-class>servelet.ModificarTipoProducto</servlet-class>
    </servlet>
    <!-->Servlet-TipoVia<-->
    <servlet>
        <servlet-name>RegistrarTipoVia</servlet-name>
        <servlet-class>servelet.RegistrarTipoVia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoVia</servlet-name>
        <servlet-class>servelet.ModificarTipoVia</servlet-class>
    </servlet>
    <!-->Servlet-TipoDocumento<-->
    <servlet>
        <servlet-name>RegistrarTipoDocumento</servlet-name>
        <servlet-class>servelet.RegistrarTipoDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoDocumento</servlet-name>
        <servlet-class>servelet.ModificarTipoDocumento</servlet-class>
    </servlet>
    <!-->Servlet-TipoCliente<-->
    <servlet>
        <servlet-name>RegistrarTipoCliente</servlet-name>
        <servlet-class>servelet.RegistrarTipoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoCliente</servlet-name>
        <servlet-class>servelet.ModificarTipoCliente</servlet-class>
    </servlet>
    <!-->Servlet-TipoTelefono<-->
    <servlet>
        <servlet-name>RegistrarTipoTelefono</servlet-name>
        <servlet-class>servelet.RegistrarTipoTelefono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoTelefono</servlet-name>
        <servlet-class>servelet.ModificarTipoTelefono</servlet-class>
    </servlet>
    <!-->Servlet-TipoUsuario<-->
    <servlet>
        <servlet-name>RegistrarTipoUsuario</servlet-name>
        <servlet-class>servelet.RegistrarTipoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipoUsuario</servlet-name>
        <servlet-class>servelet.ModificarTipoUsuario</servlet-class>
    </servlet>
    <!-->************Servlet-Mapping*******************<-->
    <servlet-mapping>
        <servlet-name>Inicio_session</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar_session</servlet-name>
        <url-pattern>/cerrar_sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/Modificar_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCliente</servlet-name>
        <url-pattern>/Modificar_cliente</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping Producto<-->
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/Registrar_producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/Modificar_producto</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping Via<-->
    <servlet-mapping>
        <servlet-name>RegistrarVia</servlet-name>
        <url-pattern>/Registrar_via</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping Operador<-->
    <servlet-mapping>
        <servlet-name>RegistrarOperador</servlet-name>
        <url-pattern>/Registrar_operador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarOperador</servlet-name>
        <url-pattern>/Modificar_operador</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping Marca<-->
    <servlet-mapping>
        <servlet-name>RegistrarMarca</servlet-name>
        <url-pattern>/Registrar_marca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMarca</servlet-name>
        <url-pattern>/Modificar_marca</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping EstadoPedido<-->
    <servlet-mapping>
        <servlet-name>RegistrarEstadoPedido</servlet-name>
        <url-pattern>/Registrar_estadopedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEstadoPedido</servlet-name>
        <url-pattern>/Modificar_estadopedido</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoPersona<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoPersona</servlet-name>
        <url-pattern>/Registrar_tipopersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoPersona</servlet-name>
        <url-pattern>/Modificar_tipopersona</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoProducto<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoProducto</servlet-name>
        <url-pattern>/Registrar_tipoproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoProducto</servlet-name>
        <url-pattern>/Modificar_tipoproducto</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoVia<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoVia</servlet-name>
        <url-pattern>/Registrar_tipovia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoVia</servlet-name>
        <url-pattern>/Modificar_tipovia</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoDocumento<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoDocumento</servlet-name>
        <url-pattern>/Registrar_tipodocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoDocumento</servlet-name>
        <url-pattern>/Modificar_tipodocumento</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoCliente<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoCliente</servlet-name>
        <url-pattern>/Registrar_tipocliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoCliente</servlet-name>
        <url-pattern>/Modificar_tipocliente</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoTelefono<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoTelefono</servlet-name>
        <url-pattern>/Registrar_tipotelefono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoTelefono</servlet-name>
        <url-pattern>/Modificar_tipotelefono</url-pattern>
    </servlet-mapping>
    <!-->Servlet-Mapping TipoUsuario<-->
    <servlet-mapping>
        <servlet-name>RegistrarTipoUsuario</servlet-name>
        <url-pattern>/Registrar_tipousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipoUsuario</servlet-name>
        <url-pattern>/Modificar_tipousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPresupuesto</servlet-name>
        <url-pattern>/Generar_presupuesto</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Inicio_filter</filter-name>
        <filter-class>filter.Inicio_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Inicio_filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/calidad</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
